# Defines plugins to load

# Define plugin folder
PluginFolder=../PlugIns

# Define plugins
Plugin=Codec_FreeImage
Plugin=RenderSystem_GL
Plugin=Plugin_ParticleFX
Plugin=Plugin_OctreeSceneManager
Plugin=Caelum
